.toggle-switch {
    display: none; /* Hide the actual checkbox */
}

.toggle-label {
    display: block;
    width: 36px;
    height: 16px;
    background-color: #ccc;
    border-radius: 10px;
    position: relative;
    cursor: pointer;
    transition: background-color 0.3s;
}

.toggle-label::before {
    content: '';
    position: absolute;
    width: 13px;
    height: 12px;
    background-color: white;
    border-radius: 50%;
    top: 2px;
    left: 2px;
    transition: left 0.3s;
}

.toggle-switch:checked + .toggle-label {
    background-color: #0A770C; /* Green when checked */
}

.toggle-switch:checked + .toggle-label::before {
    left: 22px; /* Move the circle to the right when checked */
}


